<!doctype html>
<html class="no-js no-svg" lang="en-US">

<!-- TITLE HERE -->
<% title = "Vickies Foundation - About Us" %>

<!-- HEADLINKS INCLUDED HERE -->
<%- include ('pages/links/head_links') %>

<body id="page-body" class="page-template-default page page-id-311 page-child parent-pageid-41"
    data-template="base.twig">
    <a class="d-none skip-link screen-reader-text" href="#content">Skip to content</a>

    <!-- SIDEBAR HERE -->
    <%- include ('pages/navs/sidebar') %>

    <div class="scrolldown">
        <div class="scrolldown__text">Scroll</div>
        <div class="scrolldown__icon-container">
            <i class="scrolldown__icon icon arrow-right cta__icon"></i>
        </div>
    </div>

    <section id="content" role="main" class="content-wrapper navigateDiv home">
        <article class="post-type-page" id="post-311">
            <div class="page-header page-header--alternative ">
                <div class="row">
                    <div class="page-header__image col-12 col-lg-6 rellax rellax--disable-md" data-rellax-speed="2">
                        <div class=" image-fit  image-fit--clipmask">
                            <img class="image-fit__image lozad" data-src="assets/img/africa.png"
                                data-srcset="assets/img/africa.png 320w,assets/img/africa.png 768w,assets/img/africa.png 1024w,assets/img/africa.png 1600w"
                                alt="" style="object-position: 20% 50%" />
                            <div class="image-fit__copyright"></div>
                        </div>
                    </div>
                    <div class="page-header__meta col-12 col-sm-10 offset-sm-1 
                            col-lg-5 offset-lg-1">

                        <h2 class="page-header__title">About Us</h2>
                        <div class="page-header__intro">Vickies Foundation is a non-governmental organisation which is
                            focused on the education and career development needs of Nigerian children, students and
                            youths. We recognise that education is the remedy for all kinds of social ills and that the
                            foundation of a good education is the means to pass on knowledge communicated through the
                            written medium of books.</div>
                        <div class="blob blob--4"></div>
                    </div>
                </div>
            </div>
            <div class="layout layout--margin_column bg-standard">
                <div class="layout__container">
                    <div class="row">
                        <div class="layout__column-with-margin col-12 col-sm-6 offset-sm-1">
                            <div class="text-module">
                                <p>Books help give information concerning particular disciplines and therefore help in
                                    different kinds of research and reference.
                                    Books also help in recording important information that cannot or should not be
                                    forgotten for purposes of future reference.
                                    They are used as teaching materials in schools and other learning institutions as
                                    they record the curriculum that is used by teachers to deliver teaching to learners.
                                </p>
                                <p>&nbsp;</p>
                                <p>Young people quite rightly believe that education is vital to prosper in life and
                                    further one’s career potential. The hunger for knowledge of many students motivates
                                    them to attend school at all cost. The sad truth, however, is that often times,
                                    their parents cannot afford the books needed for their academic development and
                                    schools also often lack the necessary resources to provide these essential learning
                                    materials.
                                    Furthermore, many schools do not even have library facilities and as a result
                                    students and young people are not able to reach their potential in life. Books
                                    really are essential and fulfil a variety of needs from academic through to
                                    entertainment and relaxation. </p>

                            </div>
                            <div class="read_more-module read-more">
                                <button class="button read-more__button"><i class="icon plus"></i>Read More</button>
                                <div class="read-more__text">
                                    <!-- <h4>Languages</h4> -->
                                    <p>Vickies Foundation has been established in order to tackle the issue of failing
                                        education due to lack of access to books and learning materials. The Foundation
                                        sources and then donates books to these schools and educational institutions,
                                        enabling them to meet the primary needs of students.</p>
                                    <p>&nbsp;</p>


                                </div>
                            </div>
                        </div>
                        <div class="layout__margin-column col-12 col-sm-3 offset-sm-1" id="mission">
                            <div class="quote-module quote">
                                <h4>Our Mission</h4>
                                <p>To support children, students and youths, enabling them to achieve their academic
                                    dreams and reach their full career potential.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout layout--divider">
                <div class="layout__container divider" style="height:20px"></div>
            </div>
            <div class="layout layout--2_columns bg-standard">
                <div class="layout__container">
                    <div class="row">
                        <div class="layout__column1-2 col-12 col-md-6 col-lg-5 offset-lg-1">
                            <div class="text-module">
                                <h3>Nigeria</h3>
                                <p>Due in large part to the lack of adequate learning materials and resources, many
                                    Nigerian university students are unaware of global issues and development
                                    initiatives happening around the world. Students are thus disadvantaged and not
                                    fitted to meet national and international challenges that may well have been fully
                                    addressed in academic literature.
                                    There are so many issues of importance and so many students hungry for the
                                    challenge, but they are currently being starved of the necessary tools to meet those
                                    challenges. Even from a very foundational level of understanding the issues at hand
                                    let alone the solutions, mean students need to be fed through the medium of
                                    literature.</p>
                                <p>&nbsp;</p>
                                <p>
                                    Due to lack of education through a scarcity of books many are unaware of such core
                                    issues as - the reason for the transition from the Millennium Development Goals to
                                    the Sustainable Development Goals, international trade, issues of migration and
                                    forced displacement of people, climate change, humanitarian aid, foreign and
                                    development aid, globalisation and inequality and many more. </p>
                                <p>&nbsp;</p>
                                <p>Vickies Foundation will donate development books to Universities across Nigeria and
                                    provide e-books in the long run. We will also sensitise the students and general
                                    public to the benefits that come with global awareness.</p>
                                <p>&nbsp;</p>
                                <p>Our other focus area is for students who do not have a clear career path, some lack
                                    basic employability skills, others do not have the leadership experience needed in
                                    the University or workplace. Being a leader does not necessarily mean someone at the
                                    fore-front always, but it is important for everyone to be able to coordinate teams,
                                    small groups and use their voice when required. Hence, Vickies Foundation will
                                    organise self-development seminars and workshops to groom the students and youths on
                                    their path to greatness.</p>
                                <p>&nbsp;</p>
                                <p>We have the interest of orphans, school-dropouts, disabled and the marginalised at
                                    heart, hence, we would organise free vocational skills training to equip them with
                                    certain skills they can use to earn some income and sustain their livelihood.
                                </p>
                                <p>&nbsp;</p>
                                <p>Vickies Foundation is concerned about the homeless as well and so we plan to make
                                    some basic needs donations to help these individuals live another happy day.</p>

                            </div>
                        </div>
                        <div class="layout__column2-2 col-12 col-md-6 col-lg-5">
                            <div class="image-module ">

                                <div class="image-module__image">
                                    <div class=" image-fit--zoom image-fit ">
                                        <img class="image-fit__image lozad" data-src="assets/img/nigeria.jpg"
                                            data-srcset="assets/img/nigeria.jpg 320w,assets/img/nigeria.jpg 768w,assets/img/nigeria.jpg 1024w,assets/img/nigeria.jpg 1600w"
                                            alt="" style="object-position: 50% 50%" />
                                        <div class="image-fit__copyright"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="quote-module quote">
                                We are concerned about the homeless as well , so we plan to make some basic needs
                                donations to help these individuals live another happy day.
                            </div>
                            <div class="image-module ">

                                <div class="image-module__image">
                                    <div class=" image-fit--zoom image-fit ">
                                        <img class="image-fit__image lozad" data-src="assets/img/nigeria2.jpg"
                                            data-srcset="assets/img/nigeria2.jpg 320w,assets/img/nigeria2.jpg 768w,assets/img/nigeria2.jpg 1024w,assets/img/nigeria2.jpg 1600w"
                                            alt="" style="object-position: 50% 50%" />
                                        <div class="image-fit__copyright"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout layout--1_column bg-elefant">

                <div class="layout__container">
                    <div class="row obj" id="obj">
                        <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                            <div class="text-module">
                                <h3>Objectives</h3>
                                <p>
                                <ul>
                                    <li>To contribute to community developmental works in Nigeria in the form of
                                        enhancing education by providing libraries, books and materials for deprived
                                        schools. </li>
                                    <li>Empower youths and students by organising seminars in areas of leadership,
                                        volunteering, entrepreneurship, mental health and inciting community
                                        responsibility in them. Organise free tutorial classes for students from Junior
                                        through to Senior WAEC. </li>
                                    <li>Promote women empowerment by empowering girls in sciences and entrepreneurship
                                        in young females. </li>
                                    <li>Support graduates who want to study abroad by providing them with scholarship
                                        information and guiding them through the scholarship application process. </li>
                                    <li>Empowering school dropouts and marginalised youths by providing free vocational
                                        skills workshop relevant for their sustainable living. </li>
                                    <li>Make charitable donations to the orphans and homeless and enhance livelihoods by
                                        providing shelter and casual jobs for the homeless. </li>

                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
            </div>


            <div class="related-stories layout">
                <div class=" container-fluid team" id="team">
                    <div class="row  vf_team">
                        <div class="col-12 col-md-10 offset-md-1">
                            <h5 class="related-stories__title text-center">Meet the Team</h5>
                            <div class="blob blob--3"></div>
                        </div>
                        <div class="col-md-2 col-6  mt-3">
                            <div class="vic_container">
                                <img src="assets/img/vic2.jpg" alt="Avatar" class="vic_image">
                                <div class="vic_overlay"><span data-divname="vic" href="#"
                                        class="text-white navigate">President and Founder -Victoria Tanimowo</span>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="col-md-2 col-6  mt-3">
                            <div class="vic_container">
                                <img src="assets/img/team/Adams.JPG" alt="Avatar" class="vic_image">
                                <div class="vic_overlay"><span data-divname="adams" href="#"
                                        class="text-white navigate">Vice-President – Adams Alex Osunde</span></div>
                            </div>
                        </div> -->
                        <div class="col-md-2 col-6  mt-3">
                            <div class="vic_container">
                                <img class="vic_image" src="assets/img/team/Victoria.jpg" alt="">
                                <div class="vic_overlay"><span data-divname="tully" href="#"
                                        class="text-white navigate">Secretary – Victoria Katherine Tully</span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-6  mt-3">

                            <div class="vic_container">
                                <img class="vic_image" src="assets/img/team/Tosin.jpg" alt="">
                                <div class="vic_overlay"><span data-divname="tosin" href="#"
                                        class="text-white navigate">Treasurer – Tosin Olatunji</span></div>
                            </div>
                        </div>
                        <!-- <div class="col-md-2 col-6  mt-3">
                    
                    <div class="vic_container">
                    <img class="vic_image" src="assets/img/team/Oyintokoni.JPG" alt="">
                    <div class="vic_overlay"><span data-divname="olobio" href="#" class="text-white navigate" >Social Media Strategist – Tokoni Olobio</span> </div>
                    </div>
                </div> -->
                        <div class="col-md-2 col-6  mt-3 ">

                            <div class="vic_container">
                                <img class="vic_image" src="assets/img/team/Anuoluwapo.jpg" alt="">
                                <div class="vic_overlay"><span data-divname="esther" href="#"
                                        class="navigate text-white">Disability Support Officer - Anuoluwapo Esther
                                        Adesunloye</span></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-6  mt-3">
                            <!-- <img width="150" height="150" src="" alt=""> -->
                            <div class="vic_container">
                                <img class="vic_image" src="assets/img/team/Nurudeen.jpg" alt="">
                                <div class="vic_overlay"><span href="#" data-divname="nurudeen"
                                        class="text-white navigate">Lagos Program Coordinator –Nurudeen Adebola Kamilu
                                    </span></div>
                            </div>

                        </div>
                        <div class="col-md-2 col-6  mt-3">
                            <!-- <img width="150" height="150" src=" alt=""> -->
                            <div class="vic_container">
                                <img class="vic_image" src="assets/img/team/Amadi.jpg" alt="">
                                <div class="vic_overlay"><span data-divname="solomon" href="#"
                                        class="text-white navigate">Kaduna Program Coordinator - Amadi Solomon
                                        Chidiebere</span></div>
                            </div>

                        </div>
                        <div class="col-md-2 col-6  mt-3">
                            <!-- <img width="150" height="150" src="" alt=""> -->
                            <div class="vic_container">
                                <img class="vic_image" src="assets/img/team/Isaac.jpeg" alt="">
                                <div class="vic_overlay"><span data-divname="isaac" href="#"
                                        class="text-white navigate"> Abuja Program Coordinator – Isaac Oluwa
                                        Jimoh</span></div>
                            </div>

                        </div>
                        <div class="col-md-2 col-6  mt-3">
                            <!-- <img width="150" height="150" src="" alt=""> -->
                            <div class="vic_container">
                                <img class="vic_image" src="assets/img/team/Nduka.jpg" alt="">
                                <div class="vic_overlay"><span data-divname="harrison" href="#"
                                        class="text-white navigate">Delta Program Coordinator - Nduka Harrison
                                        Nwode</span></div>
                            </div>

                        </div>
                        <div class="col-md-2 col-6  mt-3">
                            <!-- <img width="150" height="150" src="" alt=""> -->
                            <div class="vic_container">
                                <img class="vic_image" src="assets/img/team/Oluwadamilola.jpg" alt="">
                                <div class="vic_overlay"><span data-divname="damilola" href="#"
                                        class="text-white navigate"> Ibadan Program Coordinator – Damilola </span></div>
                            </div>

                        </div>
                        <div class="col-md-2 col-6  mt-3">
                            <div class="vic_container">
                                <img src="assets/img/uni.png" alt="Avatar" class="vic_image">
                                <div class="vic_overlay"><span href="#" data-divname="uni"
                                        class=" navigate text-white ">Our University Representatives</span></div>
                            </div>

                        </div>

                    </div>
                    <div class="row mt-4">





                    </div>
                </div>



        </article>
    </section>

    <!-- TEAM HERE -->
    <%- include ('pages/body/team') %>

    <!-- MOBILE MODAL HERE -->
    <%- include ('pages/navs/mobile-modal') %>

    <!-- FOOTER  HERE -->
    <%- include ('pages/navs/footer') %>



    <svg style="display: none;">
        <defs>
            <g id="icon-arrow-right" data-name="icon-arrow-right" transform="translate(-1053.519 -2222.896)">
                <line id="Linie_93" data-name="Linie 93" y2="40.85" transform="translate(1095.368 2233.424) rotate(90)"
                    fill="none" stroke-linecap="round" stroke-width="2" />
                <path id="Pfad_597" data-name="Pfad 597" d="M0,9.434,9.434,0l9.434,9.434"
                    transform="translate(1095.41 2223.896) rotate(90)" fill="none" stroke-linecap="round"
                    stroke-width="2" />
            </g>
        </defs>
        <symbol id="icon-fa-facebook-f" viewBox="0 0 264 512">
            <!--
            Font Awesome Free 5.2.0 by @fontawesome - https://fontawesome.com
            License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
            -->
            <path
                d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229">
            </path>
        </symbol>
        <symbol id="icon-fa-twitter" viewBox="0 0 512 512">
            <!--
            Font Awesome Free 5.2.0 by @fontawesome - https://fontawesome.com
            License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
            -->
            <path
                d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
            </path>
        </symbol>
        <symbol id="icon-fa-whatsapp" viewBox="0 0 448 512">
            <path
                d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" />
        </symbol>
        <symbol id="icon-fa-envelope" viewBox="0 0 512 512">
            <path
                d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z" />
        </symbol>
    </svg>

    <!-- FOOTLINKS HERE -->
    <%- include ('pages/links/foot_links') %>
</body>

</html>