<!doctype html>

<html class="no-js no-svg" lang="en-US">

<!-- TITLE HERE -->
<% title = "Vickies Foundation - Founder's Statement" %>

<!-- HEADLINKS INCLUDED HERE -->
<%- include ('pages/links/head_links') %>

<body id="page-body"
    class="page-template page-template-page_facts_infos page-template-page_facts_infos-php page page-id-41 page-parent"
    data-template="base.twig">
    <a class="d-none skip-link screen-reader-text" href="#content">Skip to content</a>


    <!-- SIDEBAR HERE -->
    <%- include ('pages/navs/sidebar') %>



    <div class="scrolldown">
        <div class="scrolldown__text">Scroll</div>
        <div class="scrolldown__icon-container">
            <i class="scrolldown__icon icon arrow-right cta__icon"></i>
        </div>
    </div>

    <section id="content" role="main" class="content-wrapper">
        <article class="post-type-page" id="post-41">
            <div class="page-header page-header--facts">
                <div class="layout__container">
                    <div class="row">
                        <div class="page-header__meta col-10 offset-1 col-lg-5 offset-lg-1 align-self-end">
                            <div class="page-header__kicker"><span>Foundation</span></div>
                            <h2 class="page-header__title">Founder’s statement</h2>
                            <div class="page-header__intro">We hope and pray that what we do will make a positive
                                difference to many and we pray for God’s blessing on our endeavours.</div>
                        </div>
                        <div class="page-header__map col-12 col-lg-6">
                            <!-- <div class="map">
                                <div class="map__image"></div>
                                <div class="map__pointer"></div>
                            </div> -->
                            <img class="image-fit__image lozad mt-2" data-src="assets/img/africa.png"
                                data-srcset="assets/img/africa.png 320w,assets/img/africa.png 768w,assets/img/africa.png 1024w,assets/img/africa.png 1600w"
                                alt="" style="object-position: 20% 50%" />
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <div class="layout layout--2_columns bg-standard">
                <div class="layout__container">
                    <div class="row">
                        <div class="layout__column1-2 col-12 col-md-6 col-lg-5 offset-lg-1">
                            <div class="image-module  image-module--portait">

                                <div class="image-module__image">
                                    <div class=" image-fit ">
                                        <img class="image-fit__image lozad" data-src="assets/img/team/vic.jpg"
                                            data-srcset="assets/img/team/vic.jpg 320w,assets/img/team/vic.jpg 768w,assets/img/team/vic.jpg 1024w,assets/img/team/vic.jpg 1600w"
                                            alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout__column2-2 col-12 col-md-6 col-lg-5">
                            <div class="text-module">
                                <h3>Biography</h3>
                                <p>Victoria Tanimowo is the founder of Vickies Foundation. She holds a Bachelor’s degree
                                    in accounting from Ghana Technology University College and a Master’s degree in
                                    Globalisation, Business and Development from University of Sussex, United Kingdom.
                                </p>
                                <br><br>
                                <p>Victoria was involved in various extracurricular activities in Ghana Technology
                                    University College and held positions in the International Students Association and
                                    Student Union. While holding these positions, Victoria organised various
                                    self-development programs, leadership seminars, vocational skills training,
                                    entrepreneurial programs, medical check-up, self-defence program for women, football
                                    competitions for women across Universities and a beauty and intellectual pageant to
                                    crown the 2017/2018 Queen for her University.<br><br> Victoria is someone who
                                    recognises the importance of the role of women in the society and understands the
                                    effort needed to further the education of young girls worldwide and in particular in
                                    Africa. On February 10th, 2017, Victoria observed the U.N. International Day of
                                    Women and Girls in STEM by organising a seminar and workshop in her University to
                                    celebrate high school and University Girls in Ghana who have chosen a career path in
                                    the sciences and technology department.</p>
                                <p>Victoria has also served in various NGOs, some of which she still volunteers with
                                    today. She has volunteered with Idea Africa, Ghana, an NGO that concentrates on
                                    helping children read and provides them with libraries and books. She has and still
                                    volunteers with ProfferAid International Foundation Ghana, an NGO focused on
                                    delivering quality health care to people in the rural parts of Ghana; and Camp
                                    Adventure Africa, Nigeria, an NGO equipping young people in the rural parts of
                                    Nigeria with leadership and entrepreneurial skills, with its central focus on
                                    achieving some of the SDGs. She also volunteered with Holland Road Baptist Church,
                                    United Kingdom to provide food and shelter for the homeless.</p>
                                <br><br>
                                <p>She is also the co-founder of Le-Vic Foundation, an NGO she started with her friend
                                    Leticia Sateklah in Ghana which has been reaching out to the homeless, orphanages
                                    and students since October 2017.</p>

                            </div>
                            <div class="read_more-module read-more">
                                <button class="button read-more__button"><i class="icon plus"></i>Read More</button>
                                <div class="read-more__text">
                                    <h5>Reason for the establishment of Vickies Foundation</h5>
                                    <p>“When I applied for my master’s degree, I chose an entirely different course from
                                        what I had wanted to do as a child and what I studied in my bachelor’s degree. I
                                        chose the course because it had the potential of helping me achieve some of my
                                        future goals. Only a week into the course, I was introduced to so many things I
                                        didn’t know were happening all over the world. I have always wanted to help my
                                        country, but I knew very little about the foreign aid policies and structural
                                        adjustment programs of the IMF. This curiosity led me to read more. I discovered
                                        so many things including China’s green revolution program which contributed to
                                        the poverty reduction of the country and then I realised the power and knowledge
                                        that comes with reading and reading the right books!
                                        <br><br>
                                        In Nigeria, we don’t have access to this pool of resources. I therefore thought
                                        of bringing this knowledge to the people, so I decided to create a development
                                        library hub. A few weeks into conceiving the idea, I decided to expand it. I
                                        wanted to start an NGO centred on educating students from disadvantaged schools
                                        during my NYSC (a compulsory scheme for graduates to serve the country before
                                        starting work) but I got my Master’s Degree admission in between and so decided
                                        to halt it. Hence, when the development studies library idea came to mind, I
                                        thought of using the opportunity of starting the NGO at once.”
                                    </p>
                                    <p>&nbsp;</p>
                                    <h5>About our logo and emblem</h5>
                                    <p>“I sat down and thought to myself, I cannot wait until I achieve all my goals
                                        before I start giving back. I have been very fortunate in the opportunities I
                                        have enjoyed. I therefore want to help others in overcoming the barriers to them
                                        achieving their goals. This stage in life is often difficult to achieve outside
                                        of an enabling environment and so I feel moved to assist others in attaining not
                                        only this level but giving them the opportunity to excel further. So, while I
                                        continue my own journey to the next destination, others will be enabled to
                                        follow and perhaps make a difference in areas I had not even considered.
                                        <br><br>
                                        I now have the experience of completing my master’s degree and am moving to
                                        employment, yet someone else is looking for an opportunity and guidance to do
                                        their master’s degree abroad. I believe my human responsibility is to help that
                                        person achieve that next stage in their dream. I also have a friend who is into
                                        bead making, yet someone lacks the vocational skills to fend for themselves, why
                                        not organise a training workshop and let my friend train people in beads so that
                                        they can also start earning some income? So at every stage of development,
                                        someone else aspires to be there, therefore, it is our collective responsibility
                                        to help lift them a little higher because we are also looking forward to someone
                                        who would take that chance and lift us as we strive to achieve more.<br><br>
                                        This is a new journey for me in Nigeria and I’m willing to contribute my time
                                        and effort to help the children, students and youth realise their dreams.
                                        We hope and pray that what we do will make a positive difference to many and we
                                        pray for God’s blessing on our endeavours.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
        </article>
    </section>


    <!-- MOBILE MODAL HERE -->
    <%- include ('pages/navs/mobile-modal') %>

    <!-- FOOTER  HERE -->
    <%- include ('pages/navs/footer') %>


    <svg style="display: none;">
        <defs>
            <g id="icon-arrow-right" data-name="icon-arrow-right" transform="translate(-1053.519 -2222.896)">
                <line id="Linie_93" data-name="Linie 93" y2="40.85" transform="translate(1095.368 2233.424) rotate(90)"
                    fill="none" stroke-linecap="round" stroke-width="2" />
                <path id="Pfad_597" data-name="Pfad 597" d="M0,9.434,9.434,0l9.434,9.434"
                    transform="translate(1095.41 2223.896) rotate(90)" fill="none" stroke-linecap="round"
                    stroke-width="2" />
            </g>
        </defs>
        <symbol id="icon-fa-facebook-f" viewBox="0 0 264 512">
            <!--
            Font Awesome Free 5.2.0 by @fontawesome - https://fontawesome.com
            License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
            -->
            <path
                d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229">
            </path>
        </symbol>
        <symbol id="icon-fa-twitter" viewBox="0 0 512 512">
            <!--
            Font Awesome Free 5.2.0 by @fontawesome - https://fontawesome.com
            License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
            -->
            <path
                d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
            </path>
        </symbol>
        <symbol id="icon-fa-whatsapp" viewBox="0 0 448 512">
            <path
                d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" />
        </symbol>
        <symbol id="icon-fa-envelope" viewBox="0 0 512 512">
            <path
                d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z" />
        </symbol>
    </svg>

    <!-- FOOTLINKS HERE -->
    <%- include ('pages/links/foot_links') %>
</body>

</html>