<!doctype html>
<!--[if lt IE 7]><html class="no-js no-svg ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]><html class="no-js no-svg ie ie7 lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js no-svg ie ie8 lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js no-svg" lang="en-US">
<!--<![endif]-->
<% title = "Vickies Foundation - What we do" %>

<!-- HEADLINKS INCLUDED HERE -->
<%- include ('pages/links/head_links') %>


<body id="page-body" class="page-template-default page page-id-443 page-child parent-pageid-43"
    data-template="base.twig">
    <a class="d-none skip-link screen-reader-text" href="#content">Skip to content</a>

    <!-- SIDEBAR HERE -->
    <%- include ('pages/navs/sidebar') %>

    <div class="scrolldown">
        <div class="scrolldown__text">Scroll</div>
        <div class="scrolldown__icon-container">
            <i class="scrolldown__icon icon arrow-right cta__icon"></i>
        </div>
    </div>

    <section id="content" role="main" class="content-wrapper">
        <article class="post-type-page" id="post-443">
            <div class="page-header page-header--standard ">
                <div class="row">
                    <div class="page-header__image col-12 col-lg-6 rellax rellax--disable-md" data-rellax-speed="2">
                        <div class=" image-fit  image-fit--clipmask">
                            <img class="image-fit__image lozad" data-src="assets/img/africa.png"
                                data-srcset="assets/img/africa.png 320w,assets/img/africa.png 768w,assets/img/africa.png 1024w,assets/img/africa.png 1600w"
                                alt="" style="object-position: 20% 20%" />
                            <div class="image-fit__copyright"></div>
                        </div>
                    </div>
                    <div class="page-header__meta col-12 col-sm-10 offset-sm-1 
                            col-lg-5 offset-lg-0
            ">

                        <h2 class="page-header__title">What we do </h2>
                        <div class="page-header__intro">We believe every child should at least attain education to the
                            secondary level.Every year we want to sponsor at least a child through school. We aim to
                            partner with various schools who can help sponsor a child.</div>
                        <div class="blob blob--4"></div>
                    </div>
                </div>
            </div>
            <div class="layout layout--1_column bg-standard">

                <div class="modal modal--leaf fade" id="modal-522" tabindex="-1" role="dialog"
                    aria-labelledby="modalLabel" aria-hidden="true">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                        <i class="icon close">
                            <div class="close__inner"></div>
                        </i>
                        <span class="close__text">Go Back</span>
                    </button>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="layout layout--margin_column">
                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <h2 class="h2">Library Hub</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <div class="text-module">
                                                    <h4>Primary and Secondary School Library</h4>
                                                    <p>
                                                        Many students cannot afford the books required for learning and
                                                        their schools lack a library space to support them as well. Our
                                                        approach is to get book donations from Nigerians (those who have
                                                        no need of these books anymore), and source for books from
                                                        publishing companies. In exchange, the school provides us with
                                                        an empty classroom which we decorate the space and turn into a
                                                        library. </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layout__container">
                                        <div class="row">
                                            <div class="layout__column-with-margin col-12 col-md-10 offset-md-1">
                                                <div class="image-module ">

                                                    <div class="image-module__image">
                                                        <div class=" image-fit--zoom image-fit ">
                                                            <img class="image-fit__image lozad"
                                                                data-src="assets/img/img1.jpg"
                                                                data-srcset="assets/img/img1.jpg 320w,assets/img/img1.jpg 768w,assets/img/img1.jpg 1024w,assets/img/img1.jpg 1600w"
                                                                alt="" style="object-position: 50% 50%" />
                                                            <div class="image-fit__overlay"></div>
                                                            <div class="image-fit__copyright"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <div class="text-module">
                                                    <h4>Global Studies Library</h4>
                                                    <p>
                                                        The Global Studies Library is going to be a learning hub for
                                                        those who are interested in global issues including –
                                                    <ul class="text-white">
                                                        <li>Issues of migration and forced displacement of people </li>
                                                        <li>climate change</li>
                                                        <li>the achievement of the Sustainable Development Goals </li>
                                                        <li>knowledge of international trade </li>
                                                        <li>humanitarian aid </li>
                                                        <li>foreign and development aid </li>
                                                        <li>globalisation and inequality </li>
                                                        <li>the role of the private sector in helping those at the
                                                            bottom of the pyramid, and many more. </li>
                                                    </ul>
                                                    </p>
                                                    <p>It will serve as a knowledge bank for people who want to learn
                                                        from other countries’ past experiences to support the economy of
                                                        Nigeria. The hub will consist of a virtual and physical library
                                                        space where people can access books to read. The physical
                                                        library hub will be located in several universities across
                                                        Nigeria with a general learning space in our office in Lagos. We
                                                        are currently partnering with the University of Sussex library
                                                        UK who is our largest book donor. This is a long-term project
                                                        which demands a lot of funding in terms of logistics, but we do
                                                        hope to have touched many universities in Nigeria in the coming
                                                        years.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal modal--leaf fade" id="modal-527" tabindex="-1" role="dialog"
                    aria-labelledby="modalLabel" aria-hidden="true">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                        <i class="icon close">
                            <div class="close__inner"></div>
                        </i>
                        <span class="close__text">Go Back</span>
                    </button>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="layout layout--margin_column">
                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <h2 class="h2">Educational programs</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <div class="text-module">
                                                    <h4>Free education for the less privileged</h4>
                                                    <p>
                                                        We believe every child should at least attain education to the
                                                        secondary level.
                                                        Every year we want to sponsor at least a child through school.
                                                        We aim to partner with various schools who can help sponsor a
                                                        child. Our technique is to identify various children who need
                                                        help and put notices around as well for the society to link us
                                                        with these children. We vet these children by speaking to them
                                                        and getting to understand their academic interests and then we
                                                        take a look at their parents’ bank statement (for those who have
                                                        it) to be sure we are helping the children who really need it.
                                                        After this, we let the school organise an entry exam to decide
                                                        which child they want to sponsor.<br>
                                                        Through our donations, we would also pay for primary school
                                                        education of some children and financially support those who
                                                        cannot afford their WAEC, GCE or NECO fees.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layout__container">
                                        <div class="row">
                                            <div class="layout__column-with-margin col-12 col-md-10 offset-md-1">
                                                <div class="image-module ">

                                                    <div class="image-module__image">
                                                        <div class=" image-fit--zoom image-fit ">
                                                            <img class="image-fit__image lozad"
                                                                data-src="assets/img/nigeria2.jpg"
                                                                data-srcset="assets/img/nigeria2.jpg 320w,assets/img/nigeria2.jpg 768w,assets/img/nigeria2.jpg 1024w,assets/img/nigeria2.jpg 1600w"
                                                                alt="" style="object-position: 50% 50%" />
                                                            <div class="image-fit__overlay"></div>
                                                            <div class="image-fit__copyright"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <div class="text-module">
                                                    <h4>Free tutorial classes for Students towards Junior and Senior
                                                        WAEC </h4>
                                                    <p>
                                                        We will organise free tutorial classes for those who are
                                                        preparing for WAEC on Mathematics, English Language and core
                                                        subjects from each department such as; Chemistry and Physics
                                                        (Science department), Accounting and Economics (Commercial
                                                        department), Literature and Government (Art department).</p>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>
                                                    <h4>Free online course guidance for students</h4>
                                                    <p>
                                                        With the help of our University Volunteers, we plan to introduce
                                                        senior high school students to the ways that they can easily
                                                        access free online courses while we guide and mentor them in
                                                        these courses.
                                                        We would partner with schools who have computer access and help
                                                        incorporate online learning for the use of students.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal modal--leaf fade" id="modal-530" tabindex="-1" role="dialog"
                    aria-labelledby="modalLabel" aria-hidden="true">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                        <i class="icon close">
                            <div class="close__inner"></div>
                        </i>
                        <span class="close__text">Go Back</span>
                    </button>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="layout layout--margin_column">
                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <h2 class="h2">Career and Skills Development</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <div class="text-module">
                                                    <h4>Vocational skills training</h4>
                                                    <p>
                                                        We would organise free summer vocational training programs which
                                                        includes accounting software, website development, graphics
                                                        design, bead making, make-up, wig cap, fashion designing, and
                                                        many more. The idea is to help boost students’ skills and make
                                                        them employable, also we want to help the marginalised and
                                                        school dropouts have a means of livelihood and a source of
                                                        income. We want to help take children out of the street and give
                                                        them a sense of purpose by giving them a reason to pursue their
                                                        dreams and make money in a legal way. </p>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layout__container">
                                        <div class="row">
                                            <div class="layout__column-with-margin col-12 col-md-10 offset-md-1">
                                                <div class="image-module ">

                                                    <div class="image-module__image">
                                                        <div class=" image-fit--zoom image-fit ">
                                                            <img class="image-fit__image lozad"
                                                                data-src="assets/img/vocation.jpg"
                                                                data-srcset="assets/img/vocation.jpg 320w,assets/img/vocation.jpg 768w,assets/img/vocation.jpg 1024w,assets/img/vocation.jpg 1600w"
                                                                alt="" style="object-position: 50% 50%" />
                                                            <div class="image-fit__overlay"></div>
                                                            <div class="image-fit__copyright"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <div class="text-module">
                                                    <h4>Study Abroad Programs</h4>
                                                    <p>
                                                        We will update students on scholarship opportunities provided by
                                                        governments of foreign countries and international institutions.
                                                        This scholarship links will be provided on our Instagram and
                                                        twitter pages. For other scholarship types, we would provide
                                                        website links where students can access them. Scholarship
                                                        updates are for those who want to study their master’s degree
                                                        and PhD research abroad only.
                                                        For scholarship help and guidance, Chat with us on Sundays on
                                                        our Instagram from 7pm-9pm (WAT). For other reason (s), please
                                                        leave us an email or use our chat button.
                                                    </p>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <div class="text-module">
                                                    <h4>Seminars and Career Guidance</h4>
                                                    <p>We intend to help develop students and youths and invest certain
                                                        skills in them. Our seminars include; leadership programs.
                                                        entrepreneurship programs, volunteering opportunities for
                                                        students and youths to build their CV, celebration of girls in
                                                        sciences, CV Clinic, mental health awareness and many more.
                                                        Every last Friday of the month, our University volunteers will
                                                        visit schools in their vicinity and have a one to one chat with
                                                        students during their social hour. This is to help students
                                                        solve certain problems they might be facing and to answer any
                                                        question or offer career advice they may need.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal modal--leaf fade" id="modal-535" tabindex="-1" role="dialog"
                    aria-labelledby="modalLabel" aria-hidden="true">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                        <i class="icon close">
                            <div class="close__inner"></div>
                        </i>
                        <span class="close__text">Go Back</span>
                    </button>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="layout layout--margin_column">
                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <h2 class="h2">Academic Motivational Podcast</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <div class="text-module">
                                                    <p>Every Monday, we will air a video podcast where people will share
                                                        their past struggles in education and how they overcame them.
                                                        This podcast will be available on our youtube channel. The goal
                                                        is to help students understand that no matter what they are
                                                        going through, someone has been faced with and overcame that
                                                        challenge and hearing from the person’s experience can help
                                                        motivate them and keep them going.
                                                        We also recognise people with special skills who want to develop
                                                        those skills; those who want to adopt certain entrepreneurial
                                                        skills because they cannot afford the education they want and
                                                        those who haven’t gotten the job they want, we will share
                                                        personal stories from entrepreneurs and experts on how they have
                                                        been motivated to keep pressing on. <a
                                                            href="https://www.youtube.com/channel/UCiDETnfjoTJFXlE1HwgS5nA">
                                                            Click here </a> to listen to our podcast.</p>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal modal--leaf fade" id="modal-545" tabindex="-1" role="dialog"
                    aria-labelledby="modalLabel" aria-hidden="true">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                        <i class="icon close">
                            <div class="close__inner"></div>
                        </i>
                        <span class="close__text">Go Back</span>
                    </button>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="layout layout--margin_column">
                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <h2 class="h2">Beautiful excursion by canoe</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <div class="text-module">
                                                    <p>Traveling by canoe on the Mossapoula River, a tributary of the
                                                        Sangha with a confluence located tens of meters upstream from
                                                        the hotel. Embarked on a frail dugout carved from a single tree
                                                        trunk, visitors must first get used to the instability of the
                                                        boat. But Mossapoula is worth the visit because it allows an
                                                        interesting view of an African forest: We first pass through a
                                                        swampy, flood-prone forest and later penetrate in a vast open
                                                        swamp, before plunging into the small, narrower raffia channels.
                                                        Those who are interested may assist in the collection of Raffia
                                                        wine and taste it. This beautiful excursion takes place either
                                                        early in the morning or in the afternoon starting at 3 pm.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal modal--leaf fade" id="modal-539" tabindex="-1" role="dialog"
                    aria-labelledby="modalLabel" aria-hidden="true">
                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                        <i class="icon close">
                            <div class="close__inner"></div>
                        </i>
                        <span class="close__text">Go Back</span>
                    </button>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="layout layout--margin_column">
                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <h2 class="h2"></h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layout__container">
                                        <div class="row">
                                            <div
                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                <div class="text-module">
                                                    <p></p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout layout--1_column bg-standard">
                    <div class="modal modal--leaf fade" id="homeless" tabindex="-1" role="dialog"
                        aria-labelledby="modalLabel" aria-hidden="true">
                        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                            <i class="icon close">
                                <div class="close__inner"></div>
                            </i>
                            <span class="close__text">Go Back</span>
                        </button>
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="layout layout--margin_column">
                                        <div class="layout__container">
                                            <div class="row">
                                                <div
                                                    class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                    <h2 class="h2">The Homeless</h2>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layout__container">
                                            <div class="row">
                                                <div
                                                    class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                    <div class="text-module">
                                                        <h6>Charitable donation to the homeless</h6>
                                                        <p>
                                                            As much as every day is a day to show love and care, we
                                                            believe Christmas is full of the largest love and no one
                                                            should be left out of the Christmas spirit, therefore, we
                                                            will donate food, clothing and basic provisions to the
                                                            homeless on boxing day while giving out toys to the children
                                                            in this state. We will spend time with them, party with them
                                                            and have a fun filled conversation with them because no one
                                                            should be left behind during this season of love. So, our
                                                            goal is to make them smile. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="context_slider-module layout">
                    <div class="main-carousel context-slider"
                        data-flickity='{ "cellAlign": "center", "wrapAround": true, "setGallerySize": false }'>
                        <div class="carousel-cell context-slider__cell col-12 col-md-10 col-lg-8">
                            <div class="context-slider__content">
                                <a class="context-slider__link col-10 col-lg-8" data-toggle="modal"
                                    data-target="#modal-522">
                                    <h2 class="context-slider__title">Library Hub</h2>
                                </a>
                                <div class="modal modal--leaf fade" id="modal-522" tabindex="-1" role="dialog"
                                    aria-labelledby="modalLabel" aria-hidden="true">
                                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                                        <i class="icon close">
                                            <div class="close__inner"></div>
                                        </i>
                                        <span class="close__text">Go Back</span>
                                    </button>
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="layout layout--margin_column">
                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <h2 class="h2">Library Hub</h2>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <div class="text-module">
                                                                    <p>Dzanga Bai is a clearing that hosts spectacular
                                                                        intact populations of key forest fauna. This
                                                                        fauna includes one of the largest intact
                                                                        populations of forest elephants, as well as
                                                                        bongos, African forest buffaloes, giant forest
                                                                        hogs, bush pigs, sitatungas and even gorillas,
                                                                        and six species of duiker.</p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-md-10 offset-md-1">
                                                                <div class="image-module ">

                                                                    <div class="image-module__image">
                                                                        <div class=" image-fit--zoom image-fit ">
                                                                            <img class="image-fit__image lozad"
                                                                                data-src="assets/img/img1.jpg"
                                                                                data-srcset="assets/img/img1.jpg 320w,assets/img/img1.jpg 768w,assets/img/img1.jpg 1024w,assets/img/img1.jpg 1600w"
                                                                                alt=""
                                                                                style="object-position: 50% 50%" />
                                                                            <div class="image-fit__overlay"></div>
                                                                            <div class="image-fit__copyright"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <div class="text-module">
                                                                    <p>The drive from the Welcome Center to the forest
                                                                        parking lot is 14 kms. Access to Dzanga Bai is
                                                                        then done by foot, taking approximately 30 to 40
                                                                        minutes. First, the path crosses a small stream
                                                                        with sandy bottoms. Light shoes are recommended.
                                                                        Then, we will follow some elephant paths through
                                                                        a beautiful closed-canopy forest until we reach
                                                                        the bai. Small primates (monkeys and mangabeys)
                                                                        and birds are often encountered along the way.
                                                                        Visitors are asked to be silent. During this
                                                                        time, you can develop an appreciation for the
                                                                        elephants’ astonishing ability to move
                                                                        discreetly through the forest. Trumpeting and
                                                                        various grunts by the elephants announce the
                                                                        arrival at the bai. A large viewing platform was
                                                                        built at its edge, from where you can observe
                                                                        different mammals and birds, including large
                                                                        flocks of parrots, coming to the clearing in
                                                                        their own time. Because of the orientation of
                                                                        the platform, afternoon visits offer a better
                                                                        light for observation and photography.</p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="context-slider__text col-10 col-lg-8"></div>

                                <a class="context-slider__link col-8" data-toggle="modal" data-target="#modal-522"><i
                                        class="icon arrow-right cta__icon"></i> Explore</a>
                            </div>
                            <div class=" image-fit ">
                                <img class="image-fit__image lozad" data-src="assets/img/img1.jpg"
                                    data-srcset="assets/img/img1.jpg 320w,assets/img/img1.jpg 768w,assets/img/img1.jpg 1024w,assets/img/img1.jpg 1600w"
                                    alt="" style="object-position: 50% 50%" />
                                <div class="image-fit__overlay"></div>
                                <div class="image-fit__copyright"></div>
                            </div>
                        </div>
                        <div class="carousel-cell context-slider__cell col-12 col-md-10 col-lg-8">
                            <div class="context-slider__content">
                                <a class="context-slider__link col-10 col-lg-8" data-toggle="modal"
                                    data-target="#modal-527">
                                    <h2 class="context-slider__title">Educational programs</h2>
                                </a>
                                <div class="modal modal--leaf fade" id="modal-527" tabindex="-1" role="dialog"
                                    aria-labelledby="modalLabel" aria-hidden="true">
                                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                                        <i class="icon close">
                                            <div class="close__inner"></div>
                                        </i>
                                        <span class="close__text">Go Back</span>
                                    </button>
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="layout layout--margin_column">
                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <h2 class="h2">Educational Programs</h2>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <div class="text-module">
                                                                    <p></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-md-10 offset-md-1">
                                                                <div class="image-module ">

                                                                    <div class="image-module__image">
                                                                        <div class=" image-fit--zoom image-fit ">
                                                                            <img class="image-fit__image lozad"
                                                                                data-src="assets/img/nigeria2.jpg"
                                                                                data-srcset="assets/img/nigeria2.jpg 320w,assets/img/nigeria2.jpg 768w,assets/img/nigeria2.jpg 1024w,assets/img/nigeria2.jpg 1600w"
                                                                                alt=""
                                                                                style="object-position: 50% 50%" />
                                                                            <div class="image-fit__overlay"></div>
                                                                            <div class="image-fit__copyright"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <div class="text-module">
                                                                    <p></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="context-slider__text col-10 col-lg-8"></div>

                                <a class="context-slider__link col-8" data-toggle="modal" data-target="#modal-527"><i
                                        class="icon arrow-right cta__icon"></i> Explore</a>
                            </div>
                            <div class=" image-fit ">
                                <img class="image-fit__image lozad" data-src="assets/img/nigeria2.jpg"
                                    data-srcset="assets/img/nigeria2.jpg 320w,assets/img/nigeria2.jpg 768w,assets/img/nigeria2.jpg 1024w,assets/img/nigeria2.jpg 1600w"
                                    alt="" style="object-position: 50% 50%" />
                                <div class="image-fit__overlay"></div>
                                <div class="image-fit__copyright"></div>
                            </div>
                        </div>


                        <div class="carousel-cell context-slider__cell col-12 col-md-10 col-lg-8">
                            <div class="context-slider__content">
                                <a class="context-slider__link col-10 col-lg-8" data-toggle="modal"
                                    data-target="#modal-530">
                                    <h2 class="context-slider__title">Career and Skills Development</h2>
                                </a>
                                <div class="modal modal--leaf fade" id="modal-530" tabindex="-1" role="dialog"
                                    aria-labelledby="modalLabel" aria-hidden="true">
                                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                                        <i class="icon close">
                                            <div class="close__inner"></div>
                                        </i>
                                        <span class="close__text">Go Back</span>
                                    </button>
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="layout layout--margin_column">
                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <h2 class="h2">Career and Skills Development</h2>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <div class="text-module">
                                                                    <h4>Vocational skills training</h4>
                                                                    <p>
                                                                        We would organise free summer vocational
                                                                        training programs which includes accounting
                                                                        software, website development, graphics design,
                                                                        bead making, make-up, wig cap, fashion
                                                                        designing, and many more. The idea is to help
                                                                        boost students’ skills and make them employable,
                                                                        also we want to help the marginalised and school
                                                                        dropouts have a means of livelihood and a source
                                                                        of income. We want to help take children out of
                                                                        the street and give them a sense of purpose by
                                                                        giving them a reason to pursue their dreams and
                                                                        make money in a legal way. </p>
                                                                    <p>&nbsp;</p>
                                                                    <p>&nbsp;</p>
                                                                    <h4>Seminars and Career Guidance</h4>
                                                                    <p>We intend to help develop students and youths and
                                                                        invest certain skills in them. Our seminars
                                                                        include; leadership programs. entrepreneurship
                                                                        programs, volunteering opportunities for
                                                                        students and youths to build their CV,
                                                                        celebration of girls in sciences, CV Clinic,
                                                                        mental health awareness and many more.
                                                                        Every last Friday of the month, our University
                                                                        volunteers will visit schools in their vicinity
                                                                        and have a one to one chat with students during
                                                                        their social hour. This is to help students
                                                                        solve certain problems they might be facing and
                                                                        to answer any question or offer career advice
                                                                        they may need.</p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-md-10 offset-md-1">
                                                                <div class="image-module ">

                                                                    <div class="image-module__image">
                                                                        <div class=" image-fit--zoom image-fit ">
                                                                            <img class="image-fit__image lozad"
                                                                                data-src="assets/img/vocation.jpg"
                                                                                data-srcset="assets/img/vocation.jpg 320w,assets/img/vocation.jpg 768w,assets/img/vocation.jpg 1024w,assets/img/vocation.jpg 1600w"
                                                                                alt=""
                                                                                style="object-position: 50% 50%" />
                                                                            <div class="image-fit__overlay"></div>
                                                                            <div class="image-fit__copyright"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <div class="text-module">
                                                                    <h4>Seminars and Career Guidance</h4>
                                                                    <p>We intend to help develop students and youths and
                                                                        invest certain skills in them. Our seminars
                                                                        include; leadership programs. entrepreneurship
                                                                        programs, volunteering opportunities for
                                                                        students and youths to build their CV,
                                                                        celebration of girls in sciences, CV Clinic,
                                                                        mental health awareness and many more.
                                                                        Every last Friday of the month, our University
                                                                        volunteers will visit schools in their vicinity
                                                                        and have a one to one chat with students during
                                                                        their social hour. This is to help students
                                                                        solve certain problems they might be facing and
                                                                        to answer any question or offer career advice
                                                                        they may need.</p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="context-slider__text col-10 col-lg-8"></div>

                                <a class="context-slider__link col-8" data-toggle="modal" data-target="#modal-530"><i
                                        class="icon arrow-right cta__icon"></i> Explore</a>
                            </div>
                            <div class=" image-fit ">
                                <img class="image-fit__image lozad" data-src="assets/img/vocation.jpg"
                                    data-srcset="assets/img/vocation.jpg 320w,assets/img/vocation.jpg 768w,assets/img/vocation.jpg 1024w,assets/img/vocation.jpg 1600w"
                                    alt="" style="object-position: 50% 50%" />
                                <div class="image-fit__overlay"></div>
                                <div class="image-fit__copyright"></div>
                            </div>
                        </div>
                        <div class="carousel-cell context-slider__cell col-12 col-md-10 col-lg-8">
                            <div class="context-slider__content">
                                <a class="context-slider__link col-10 col-lg-8" data-toggle="modal"
                                    data-target="#modal-535">
                                    <h2 class="context-slider__title">Academic Motivational Podcast</h2>
                                </a>
                                <div class="modal modal--leaf fade" id="modal-535" tabindex="-1" role="dialog"
                                    aria-labelledby="modalLabel" aria-hidden="true">
                                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                                        <i class="icon close">
                                            <div class="close__inner"></div>
                                        </i>
                                        <span class="close__text">Go Back</span>
                                    </button>
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="layout layout--margin_column">
                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <h2 class="h2">Academic Motivational Podcast</h2>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <div class="text-module">
                                                                    <p>Every Monday, we will air a video podcast where
                                                                        people will share their past struggles in
                                                                        education and how they overcame them. This
                                                                        podcast will be available on our website and
                                                                        Instagram page and it will run for a maximum of
                                                                        5 minutes. The goal is to help students
                                                                        understand that no matter what they are going
                                                                        through, someone has been faced with and
                                                                        overcame that challenge and hearing from the
                                                                        person’s experience can help motivate them and
                                                                        keep them going.</p>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="context-slider__text col-10 col-lg-8"></div>

                                <a class="context-slider__link col-8" data-toggle="modal" data-target="#modal-535"><i
                                        class="icon arrow-right cta__icon"></i> Explore</a>
                            </div>
                            <div class=" image-fit ">
                                <img class="image-fit__image lozad" data-src="assets/img/podcast.jpg"
                                    data-srcset="assets/img/podcast.jpg 320w,assets/img/podcast.jpg 768w,assets/img/podcast.jpg 1024w,assets/img/podcast.jpg 1600w"
                                    alt="" style="object-position: 50% 50%" />
                                <div class="image-fit__overlay"></div>
                                <div class="image-fit__copyright"></div>
                            </div>
                        </div>
                        <div class="carousel-cell context-slider__cell col-12 col-md-10 col-lg-8">
                            <div class="context-slider__content">
                                <a class="context-slider__link col-10 col-lg-8" data-toggle="modal"
                                    data-target="#homeless">
                                    <h2 class="context-slider__title">The Homeless</h2>
                                </a>
                                <div class="modal modal--leaf fade" id="modal-522" tabindex="-1" role="dialog"
                                    aria-labelledby="modalLabel" aria-hidden="true">
                                    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                                        <i class="icon close">
                                            <div class="close__inner"></div>
                                        </i>
                                        <span class="close__text">Go Back</span>
                                    </button>
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="layout layout--margin_column">
                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                                                                <h2 class="h2">The Homeless</h2>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="layout__container">
                                                        <div class="row">
                                                            <div
                                                                class="layout__column-with-margin col-12 col-md-10 offset-md-1">
                                                                <div class="image-module ">

                                                                    <div class="image-module__image">
                                                                        <div class=" image-fit--zoom image-fit ">
                                                                            <img class="image-fit__image lozad"
                                                                                data-src="assets/img/img7.JPG"
                                                                                data-srcset="assets/img/img7.JPG 320w,assets/img/img1.jpg 768w,assets/img/img1.jpg 1024w,assets/img/img7.JPG 1600w"
                                                                                alt=""
                                                                                style="object-position: 50% 50%" />
                                                                            <div class="image-fit__overlay"></div>
                                                                            <div class="image-fit__copyright"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="context-slider__text col-10 col-lg-8"></div>

                                <a class="context-slider__link col-8" data-toggle="modal" data-target="#homeless"><i
                                        class="icon arrow-right cta__icon"></i> Explore</a>
                            </div>
                            <div class=" image-fit ">
                                <img class="image-fit__image lozad" data-src="assets/img/img7.JPG"
                                    data-srcset="assets/img/img7.JPG 320w,assets/img/img7.JPG 768w,assets/img/img7.JPG 1024w,assets/img/img7.JPG 1600w"
                                    alt="" style="object-position: 50% 50%" />
                                <div class="image-fit__overlay"></div>
                                <div class="image-fit__copyright"></div>
                            </div>
                        </div>




                    </div>
                </div>
                <div class="layout layout--divider">
                    <div class="layout__container divider" style="height:20px"></div>
                </div>
                <div class="layout layout--margin_column bg-standard">

                    <div class="text-center">
                        <h4>Programs in Brief</h4>
                    </div>

                    <div class="layout__container">
                        <div class="row">
                            <div class="layout__column-with-margin col-12 col-sm-6 offset-sm-1">
                                <div class="text-module">
                                    <h4>Educational Projects</h4>
                                    <ul>
                                        <li>Library construction and book donation in disadvantaged primary and
                                            Secondary schools.</li>
                                        <li>Development Studies Library hub in Universities which will be easily
                                            accessible to the public.</li>
                                        <li>E-Library accessible to the general public.</li>
                                        <li>Free education for the less privileged.</li>
                                        <li>Free tutorial classes for Students towards Junior and Senior WAEC. </li>
                                        <li>Introduction to free online courses platforms for students.</li>
                                        <li>Vocational skills training.</li>
                                    </ul>


                                    <p>&nbsp;</p>
                                    <h4>Seminars and Career Guidance</h4>
                                    <ul>
                                        <li>Leadership programs.</li>
                                        <li>Entrepreneurship programs.</li>
                                        <li>Volunteering and internship opportunities for students and youths to build
                                            their CV.</li>
                                        <li>Mentorship and guidance.</li>
                                        <li>Celebration of girls in sciences.</li>
                                        <li>CV Clinic</li>
                                        <li>Youth empowerment</li>
                                    </ul>




                                </div>
                            </div>
                            <div class="layout__margin-column col-12 col-sm-3 offset-sm-1">
                                <h4 class="m-0 p-0">Study Abroad Programs</h4>
                                <ul class="mt-3">
                                    <li>List of fully funded government scholarship opportunies abroad.</li>
                                    <li>Scholarship application guidance.</li>
                                </ul>

                                <h4 class="m-0 p-0">The Homeless</h4>
                                <ul class="mt-3">
                                    <li>Charitable donation to the homeless.</li>
                                    and more...
                                </ul>


                                <!-- <a data-toggle="modal" data-target="#homeless" style="color:#2D593D;"><h4>The Homeless</h4></a> -->



                            </div>
                        </div>
                    </div>
                </div>

        </article>
    </section>

    <!-- MOBILE MODAL HERE -->
    <%- include ('pages/navs/mobile-modal') %>

    <!-- FOOTER  HERE -->
    <%- include ('pages/navs/footer') %>

    <svg style="display: none;">
        <defs>
            <g id="icon-arrow-right" data-name="icon-arrow-right" transform="translate(-1053.519 -2222.896)">
                <line id="Linie_93" data-name="Linie 93" y2="40.85" transform="translate(1095.368 2233.424) rotate(90)"
                    fill="none" stroke-linecap="round" stroke-width="2" />
                <path id="Pfad_597" data-name="Pfad 597" d="M0,9.434,9.434,0l9.434,9.434"
                    transform="translate(1095.41 2223.896) rotate(90)" fill="none" stroke-linecap="round"
                    stroke-width="2" />
            </g>
        </defs>
        <symbol id="icon-fa-facebook-f" viewBox="0 0 264 512">
            <!--
        Font Awesome Free 5.2.0 by @fontawesome - https://fontawesome.com
        License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
        -->
            <path
                d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229">
            </path>
        </symbol>
        <symbol id="icon-fa-twitter" viewBox="0 0 512 512">
            <!--
        Font Awesome Free 5.2.0 by @fontawesome - https://fontawesome.com
        License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
        -->
            <path
                d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
            </path>
        </symbol>
        <symbol id="icon-fa-whatsapp" viewBox="0 0 448 512">
            <path
                d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" />
        </symbol>
        <symbol id="icon-fa-envelope" viewBox="0 0 512 512">
            <path
                d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z" />
        </symbol>
    </svg>

    <!-- FOOTLINKS HERE -->
    <%- include ('pages/links/foot_links') %>
</body>

</html>