<!-- TEAM MEMBERS HERE -->
<div class="team hide">
    <div class="hide navigateDiv vic">
        <%- include ('vic') %>
    </div>

    <div class="hide navigateDiv adams">
        <%- include ('adams') %>
    </div>

    <div class="hide navigateDiv tully">
        <%- include ('kelly') %>
    </div>

    <div class="hide navigateDiv tosin">
        <%- include ('tosin') %>
    </div>
    
    <div class="hide navigateDiv olobio">
        <%- include ('olobio') %>
    </div>
    
    <div class="hide navigateDiv esther">
        <%- include ('esther') %>
    </div>

    <div class="hide navigateDiv nurudeen ">
        <%- include ('nurudeen') %>
    </div>

    <div class="hide navigateDiv solomon">
        <%- include ('solomon') %>
    </div>

    <div class="hide navigateDiv isaac">
        <%- include ('isaac') %>
    </div>

    <div class="hide navigateDiv harrison">
        <%- include ('harisson') %>
    </div>

    <div class="hide navigateDiv samuel">
        <%- include ('samuel') %>
    </div>

    <div class="hide navigateDiv dorcas">
        <%- include ('dorcas') %>
    </div>

    <div class="hide navigateDiv uni">
        <%- include ('uni') %>
    </div>

    <div class="hide navigateDiv damilola">
        <%- include ('damilola') %>
    </div>
</div>